//Kbd
$kbd-colors-support-parser: (
    background-color: null,
    color: 'color'
) !default;


$kbd-colors-support-extra-colors-palette: () !default;
$kbd-colors-support-skip-colors-palette: null !default;